.ccKotak {
    background-color: rgb(58, 150, 99);
    color: white;
    font-size: large;
}

.ccIcici {
    background-color: rgb(48, 47, 47);
    color: white;
    font-size: large;
}

.ccHdfc {
    background-color: rgb(68, 68, 196);
    color: white;
    font-size: large;
}